* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #232323;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
ul li {
  list-style: none;
}

.pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 100px;
}
.pokemon__card {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.12), 10px 10px 25px rgba(174, 174, 192, 0.12);
  border-radius: 25px;
  gap: 15px;
  background-color: #1E1E1E;
}
.pokemon__card h4 {
  color: #fff;
  font-size: 22px;
}
.pokemon__card .pokemon-types-card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.pokemon__card .pokemon-types-card .type-icon {
  border-radius: 50%;
  padding: 11px 11px 6px 10px;
  transition: 0.3s;
  position: relative;
}
.pokemon__card .pokemon-types-card .type-icon img {
  width: 30px;
}
.pokemon__card .pokemon-types-card .type-icon .tooltip {
  position: absolute;
  top: -45px;
  left: 0;
  pointer-events: none;
  opacity: 0;
  padding: 10px;
  border-radius: 4px;
  color: white;
  transition: 0.3s;
  font-weight: 500;
  font-size: 18px;
}
.pokemon__card .pokemon-types-card .type-icon + .type-icon {
  margin-left: 10px;
}
.pokemon__card .pokemon-types-card .type-icon:hover {
  filter: saturate(200%);
}
.pokemon__card .pokemon-types-card .type-icon:hover .tooltip {
  opacity: 1;
  pointer-events: normal;
}
.pokemon__card .radiusImage {
  background: linear-gradient(135deg, rgb(239, 239, 242) 45%, rgb(255, 255, 255) 82%);
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
  background-image: url(../../../assets/images/pokemon/types/background/background-grass.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.pokemon__card .radiusImage img {
  position: relative;
  object-fit: contain;
  z-index: 3;
  height: 180px;
  margin-top: -30px;
}
.pokemon__card .radiusImage img.shadow {
  position: absolute;
  bottom: -56px;
  filter: brightness(0.2) blur(10px);
  opacity: 0.9;
  transform: rotatex(96deg);
  width: 40%;
  z-index: 1;
}
.pokemon__card.grass .radiusImage, .pokemon__card .grass .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-grass.svg);
}
.pokemon__card.grass.type-icon, .pokemon__card.grass .tooltip, .pokemon__card .grass.type-icon, .pokemon__card .grass .tooltip {
  background-color: #5FBD58;
}
.pokemon__card.fire .radiusImage, .pokemon__card .fire .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-fire.svg);
}
.pokemon__card.fire.type-icon, .pokemon__card.fire .tooltip, .pokemon__card .fire.type-icon, .pokemon__card .fire .tooltip {
  background-color: #FBA54C;
}
.pokemon__card.bug .radiusImage, .pokemon__card .bug .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-bug.svg);
}
.pokemon__card.bug.type-icon, .pokemon__card.bug .tooltip, .pokemon__card .bug.type-icon, .pokemon__card .bug .tooltip {
  background-color: #92BC2C;
}
.pokemon__card.water .radiusImage, .pokemon__card .water .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-water.svg);
}
.pokemon__card.water.type-icon, .pokemon__card.water .tooltip, .pokemon__card .water.type-icon, .pokemon__card .water .tooltip {
  background-color: #539DDF;
}
.pokemon__card.normal .radiusImage, .pokemon__card .normal .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-normal.svg);
}
.pokemon__card.normal.type-icon, .pokemon__card.normal .tooltip, .pokemon__card .normal.type-icon, .pokemon__card .normal .tooltip {
  background-color: #A0A29F;
}
.pokemon__card.eletric .radiusImage, .pokemon__card .eletric .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-eletric.svg);
}
.pokemon__card.eletric.type-icon, .pokemon__card.eletric .tooltip, .pokemon__card .eletric.type-icon, .pokemon__card .eletric .tooltip {
  background-color: red;
}
.pokemon__card.flying .radiusImage, .pokemon__card .flying .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-flying.svg);
}
.pokemon__card.flying.type-icon, .pokemon__card.flying .tooltip, .pokemon__card .flying.type-icon, .pokemon__card .flying .tooltip {
  background-color: #A1BBEC;
}
.pokemon__card.poison .radiusImage, .pokemon__card .poison .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-poison.svg);
}
.pokemon__card.poison.type-icon, .pokemon__card.poison .tooltip, .pokemon__card .poison.type-icon, .pokemon__card .poison .tooltip {
  background-color: #B763CF;
}
.pokemon__card.fairy .radiusImage, .pokemon__card .fairy .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-poison.svg);
}
.pokemon__card.fairy.type-icon, .pokemon__card.fairy .tooltip, .pokemon__card .fairy.type-icon, .pokemon__card .fairy .tooltip {
  background-color: #EE90E6;
}
.pokemon__card.dragon .radiusImage, .pokemon__card .dragon .radiusImage {
  background-image: url(../../../assets/images/pokemon/types/background/background-poison.svg);
}
.pokemon__card.dragon.type-icon, .pokemon__card.dragon .tooltip, .pokemon__card .dragon.type-icon, .pokemon__card .dragon .tooltip {
  background-color: #0C69C8;
}

/*# sourceMappingURL=tyle.css.map */
